body {
    background-color: lightblue;
}
:root{
    /*! --ans-neutral: 200; */
    /*! --ans-corect: 145; */
    /*! --ans-wrong: 0; */
}
.login{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 160px;
    margin-bottom: 106px;
    box-sizing: border-box;
    padding-right: 170px;

}
.btn-login{
    background-color: #46b491;
    position: relative;
    top:50px;
    border:1px solid black;
    right:150px;
    margin-left: 310px;
}
.label-name{
    position: relative;
    bottom: 40px;
    left:140px;
}
.quizz{
    width: 800px;
    max-width: 80%;
    height: 100px;
    background-color: white;
    border-radius:5px;
    box-shadow:0 0 10px 2px;
}
.quizz.corect{
    background: green;
}
.quizz.wrong{
    background: red;
}
.btn-grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap:6px;
}
.buton{
    border: 1px solid black;
    background-color: hsl(193, 100%, 50%);
    border-radius: 15px;
    color: black;

}
.buton:hover{
    border-color: red;
}
.buton.corect{
    background-color: green;
}
.buton.wrong{
    background-color: red;
}
.score{
    padding-bottom: 20px;
}


.controls{
    padding-top: 20px;
    font-size: 48px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.board
{
    grid-template-columns: repeat(2,auto);
    gap: 6px;

}
.scoreBoard{
    width: auto;
    height: auto;
    border-radius: 2px;
    background-color: white;
    padding-right: 2px;
    box-shadow:0 0 7px 2px;
    margin-right: 50px;
}
.lista{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    margin-left: 100px;
    border-radius: 2px;
    gap:10px;
}
.smth{
    background-color: #46b491;
    position: relative;
    border:1px solid black;
    font-size:24px;
}
.smth:hover{
    border-color: #210008;
}
.smth:focus{
    background-color: #46a4b4
}
.poza1{
    position:absolute;
    width: calc(192px/4);
    height:calc(192px/4);
    background: url(Components/poza1.png) 0 0;
    animation: animate 1s steps(4) infinite;
    margin-left: 250px;
}
.poza2{
    position:absolute;
    width: calc(192px/4);
    height:calc(192px/4);
    background: url(Components/poza2.png) 0 0;
    animation: animate 1s steps(4) infinite;
    margin-left: 100px;
}
@keyframes  animate{
    from
    {
        background-position:0 0;
    }
    to{
        background-position:0 192px;
    }

}
.pozaAleasa{
    top:200px;
    margin-left: 50px;
}

.hide{
    display: none;
}

.disabled{
    pointer-events: none;
}
